/* 
charte graphique
vert #a6d3cd 
rose #e6808e
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Vollkorn SC', serif;
font-family: 'Ysabeau', sans-serif;*/

:root{
    --main-color-green: #9cccd9;
    --main-color-yellow: #f2f3d0;
    --main-font-color: rgb(68, 68, 68);
    --font-color-subtitle: grey;
    --main-font-family: 'Ysabeau', sans-serif;
    --font-family-subtitle:'Vollkorn SC', serif;
}

body{
    font-family: var(--main-font-family);
    font-size: 1.2rem;
    color: var(--main-font-color);
}

/* ==== Style du header ==== */

header{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)), url(../images/Fondpixels.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}

h1{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 8%;
}

h2{
    font-family: var(--font-family-subtitle);
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--font-color-subtitle);
    margin: 1rem auto;
    padding: 2rem 0;
    border-bottom: 1px solid var(--main-font-color);
    

}


h3{
    font-size: 2rem;
    text-align: center;
    margin-top: 1.3rem;
    color: var(--font-color-subtitle);
}


.btn-primary {
    --bs-btn-bg: var(--main-color-green);
    --bs-btn-border-color: var(--main-color-green);
    --bs-btn-hover-bg: var(--main-color-yellow);
    --bs-btn-hover-border-color: var(--main-color-yellow);
    --bs-btn-active-bg: #3d6c79;
    --bs-btn-active-border-color: #3d6c79;
    --bs-btn-disabled-bg: #3d6c79;
    --bs-btn-disabled-border-color: #3d6c79;
}

/* ==== Style de la navbar==== */

.nav-item i, 
.nav-item a{
    font-size : 2rem;
    color: var(--main-color-green);
}

.nav-item i{
    margin: 0 2%;
}

#nav-section,
#nav-social{
    margin-top: 2rem;
}

.nav-item i:hover,
.nav-item a:hover{
    color: var(--main-color-yellow)
}

/* ==== Style du main ==== */

h4{
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 1rem;
}

h5{
    font-family: var(--font-family-subtitle);
    color: var(--font-color-subtitle);
    font-size: 1.2rem;
    margin: 0.5rem 0 0 0;
}

.list-unstyled li{
    margin-top: 1rem;
}


.hobbies a{
    margin-bottom: 1.25rem;
}

a{
    color : #3d6c79
}

a:hover{
    color: var(--main-color-green);
}

.about-me,
.education{
    
    background: linear-gradient(90deg, var(--main-color-green) 0%, var(--main-color-yellow) 100%);
}

.xp,
.education,
.portfolio{
    padding : 3rem;
}


.card,
section .year {
    box-shadow: 0 0 0.2rem rgba(90, 89, 89, 0.2);
}

.xp .card,
.education .card{
    margin-bottom: 30px;
}

.education .year{
    background-color: var(--main-color-yellow);
}

.xp .year{
    background-color: var(--main-color-green);

}

.year-left,
.year-right{
    height: 100%;
    width: 100px;
    position: absolute;
    
}
.year-left {
    border-radius: 50px;
    right : -110px;
    
}

.year-right{
    border-radius: 50px ;
    left : -110px;
    
}

.year-top-left,
.year-top-right{
    position : absolute; 
    top : -23px;
    height: 23px;
    padding: 0 1rem;
    border-radius : 15px 15px 0px 0px;
}

.year-top-right{
    right : 1rem;
}

.year p{
    margin-bottom: 0.5rem;
}

/* ==== Style des modals ==== */

.modal-body-label{
    padding: 0.5rem 0.8rem;
    margin: 1rem;
    background-color: var(--main-color-green);
    border-radius: 30px;
}

.modal-body img{
    width: 50%;
    margin: 1rem auto;
}

.modal-body p{
    text-align: justify;
}

.modal-btn{
    font-size: 3rem;
}

.modal-footer i{
    font-size: 1.5rem
}

.modal-footer .github{
    padding: 0.3rem
}

/* ==== Style du footer ==== */

footer{

    background-image:linear-gradient( rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)), url(../images/Fondpixels-footer.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    background-position: bottom;

}

#email{
    font-size: 1.5rem;
    color : var(--font-color-subtitle);
    font-family: var(--main-font-family);
}

footer p{
    font-family: var(--font-color-subtitle);
    font-size: 1rem;
    margin-top: 3rem;
}

footer h4{
    margin-top: 5rem;
}



